<% content_for(:title) { "CGAT Dashboard" } %>

<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":3},{"col":5,"row":1,"size_x":3,"size_y":2},{"col":1,"row":3,"size_x":2,"size_y":2},{"col":5,"row":3,"size_x":3,"size_y":1}]')
 });
 </script>

<div class="gridster highcontrast">

  <h1 class="header">CGAT Dashboard - Overview</h1>
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

   <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="diskspace"
      data-view="Number"
      data-title="Storage status"
      data-suffix="Tb"
      data-moreinfo="available disk space"
      </div>
    </li>

    <li data-row=2" data-col="2" data-sizex="1" data-sizey="1">
      <div 
        data-id="queues" 
        data-view="NumberPair" 
	data-title="Cluster status"
	data-moreinfo="jobs running/queuing"
      </div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div 
        data-id="twitter_user_followers" 
        data-view="Number" 
	data-title="Twitter followers"
      </div>
    </li>

    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
      <div 
        data-id="papers_published" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="#fff #888" 
        data-title="Papers published" 
        data-subtitle="Papers published" 
        data-padding-top="0.35"
        class="widget-graph widget-graph-large-change-rate">
      </div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="3">
      <div 
        data-id="leaderboard" 
        data-view="Leaderboard" 
        data-unordered="true">
      </div>
    </li>

    <li data-row="1" data-col="5" data-sizex="3" data-sizey="2">
      <div 
        data-id="topcited_papers" 
        data-view="List" 
	data-title="Most cited CGAT papers (Google Scholar)"
      </div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div 
        data-id="project_diskusage" 
        data-view="Pie" 
	data-title="Disk usage"
      </div>
    </li>

    <li data-row="3" data-col="5" data-sizex="3" data-sizey="1">
      <div 
        data-id="travis_master" 
        data-view="NestedList"
        data-title="Travis Build Status">
      </div>
    </li>

    <li data-row="4" data-col="5" data-sizex="3" data-sizey="1">
      <div 
        data-id="jenkins" 
        data-view="NestedList"
        data-title="Jenkins Build Status">
      </div>
    </li>


  </ul>  
</div>
