<% content_for(:title) { "CGAT Dashboard" } %>

<div class="gridster highcontrast">
  <h1 class="header">CGAT Dashboard - Impact</h1>
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div 
        data-id="twitter_user_followers" 
        data-view="Number" 
	data-title="Twitter followers"
      </div>
    </li>

    <li data-row="1" data-col="2" data-sizex="3" data-sizey="2">
      <div 
        data-id="papers_published" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="#fff #888" 
        data-title="Papers published" 
        data-subtitle="Papers published" 
        data-padding-top="0.35"
        class="widget-graph widget-graph-large-change-rate">
      </div>
    </li>

    <li data-row="1" data-col="5" data-sizex="3" data-sizey="4">
      <div 
        data-id="topcited_papers" 
        data-view="List" 
	data-title="Most cited CGAT papers (Google Scholar)"
      </div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="2">
      <div 
        data-id="github_user_repos_forks" 
        data-view="List" 
	data-title="Github forks"
      </div>
    </li>

    <li data-row="3" data-col="3" data-sizex="2" data-sizey="2">
      <div 
        data-id="github_user_repos_watchers" 
        data-view="List" 
	data-title="Github watchers"
      </div>
    </li>

  </ul>

</div>

