<% content_for(:title) { "CGAT Dashboard" } %>

<script type='text/javascript'>
 $(function() {
    Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":4},{"col":3,"row":1,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":3,"row":3,"size_x":2,"size_y":1},{"col":5,"row":1,"size_x":3,"size_y":2}]')
     });
</script>

<div class="gridster highcontrast">
  <h1 class="header">CGAT Dashboard - Software development</h1>
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="4">
      <div 
        data-id="leaderboard" 
        data-view="Leaderboard" 
        data-unordered="true">
      </div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div 
        data-id="pull_requests" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="#fff #888" 
        data-title="Pulls opened this month" 
        data-subtitle="Projected monthly trend compared to last month" 
        data-padding-top="0.35"
        class="widget-graph widget-graph-large-change-rate">
      </div>
    </li>

    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div 
        data-id="issues_opened" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="#fff #888" 
        data-title="Issues opened this month" 
        data-subtitle="Projected monthly trend compared to last month" 
        data-padding-top="0.35"
        class="widget-graph widget-graph-large-change-rate">
      </div>
    </li>

    <li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
      <div 
        data-id="issues_closed" 
        data-view="SeriesGraph" 
        data-renderer="bar"
        data-colors="#fff #888" 
        data-title="Issues closed this month" 
        data-subtitle="Projected monthly trend compared to last month" 
        data-padding-top="0.35"
        class="widget-graph widget-graph-large-change-rate">
      </div>
    </li>

    <li data-row="1" data-col="5" data-sizex="3" data-sizey="4">
      <div 
        data-id="recent_issues" 
        data-view="List" 
	data-title="Most recent open issues (Days open)"
      </div>
    </li>

  </ul>
</div>

